
* {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 margin: 0px;  
 padding: 0px;
}

html {
height: 100vh; 
width: 100vw; 
}

body {
 background-color: #5F2C82; 
}

main {
 border-radius: 10px;

 width: 250px; 

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#imagem {
 background-image: url('../Imagens/metal.jpg');
 background-position: bottom center;
 background-size: cover;
 border-radius: 15px 15px 0px 0px;

 height: 210px;

 margin: auto;
}

div#form {
 background-color: white;
 border-radius: 0px 0px 15px 15px;

 height: 300px;
}

div#form h1 {
 text-align: center;  
 color: #53AAA7;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.383);
} 
 
div#form p#boasvindas {
 font-size: 0.8em;

 padding: 10px 7px 0px 10px; 
 }

div#login {
 width: 92%; 
 padding-top: 10px;
 position: relative;
 left: 10px;
}

input#email,#senha {

 background-color: #94CFCD;
 border-style: unset;
 border: 2px solid #5F2C82;
 border-radius: 10px;

 width: 86%;
 height: 2.5em;

 position: relative;
 bottom: 0.5px;
}

hr {
 color: #F4F5F7;
 border: none;
 height: 6px;
 width: 0px;
}

.enfeites {
 background-color: #5F2C82;
 border-radius: 10px;
}

span {
  color: white;
 
  position: relative; 
  top: 7px;
  left: 2px;
}

input#entrar {
 background-color: #53AAA7;
 color: white;
 border: none;
 border-radius: 5px;
 

 width: 92%;
 height: 40px;

 display: block;
 margin: auto;
}

input#entrar:hover {
 background-color: #2D6462;  
}

 p#esqueci {
  
  text-align: center;
  color: #53AAA7;
  background-color: rgb(255, 255, 255);
  border: 1px solid #53AAA7;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 10px 7px 0px 10px; 

 width: 84.5%;
 height: 30px;

 
 display: block;
 margin: auto;
}

a {
 font-size: 1.2em;
 text-decoration: none;
}

p#esqueci:hover {
 background-color: #6CD3CF;  
 border: 1px solid #6CD3CF;
 color: white;
}
